body {
  font-family: "Didot Regular";
}

.overflow {
  overflow: hidden;
}

.flex {
  display: flex;
}

.section {
  margin: 300px 0;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;margin-top: 10px;
  margin-left: 2em;
  margin-right: 2em; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 40px;
  
}
.images{
  margin-top: 10px;
  margin-left: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 40px;
}
.nav-bar {
  color: #291700;
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  padding: 50px;

  line-height: 1.1;
  font-weight: 400;
  font-size: 0.83333vw;
  text-transform: lowercase;
  line-height: 1em;

  .nav-bar-left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .nav-bar-img {
    height: 10rem;
    
    // width: 100px; 
  }

  .nav-bar-right {
    flex: 1;

    text-align: right;
  }
}

.home-loader-wrapper {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: #dfd3c3;
  z-index: 99;
  color: var(--main-color);
  overflow: hidden;
  z-index: var(--loader-index);

  display: flex;
  justify-content: center;
  align-items: center;
  .home-loader-text {
    position: absolute;
    width: 40vw;
    font-size: 15vw;
    font-family: 'Didot regular';
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.secondary-cursor {
  z-index: var(--cursor-index);

  position: fixed;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background-color: white;
  mix-blend-mode: difference;
  left: 0;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.as-visible {
    opacity: 1;
  }
}

@media (max-width: 368px) {
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;margin-top: 5px;
  margin-left: 1em;
  margin-right: 3em; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  
}
}